## Mission 4: Creating and reading records

#### Prerequisites  
To complete this exercise, you must have access to the `“little_lemon”` database. Establish a connection between Python and the database via the connector API and create a `“cursor”` object using the following code:

In [6]:
import mysql.connector as connector

In [7]:
# Establish connection between Python and MySQL database via connector API
connection=connector.connect(
                             user="root", 
                             password="", 
                            )

In [8]:
# Create cursor object to communicate with entire MySQL database
cursor = connection.cursor()

Once, the connection is established, and you have a cursor object, select the database `“little_lemon”` and print the names of the tables

In [9]:
# Setting little_lemon for use 
cursor.execute("use little_lemon")

# Confirming
print("Database is use is:", connection.database)
print()
print("The existing tables in the little_lemon database are:")
cursor.execute("SHOW TABLES") 
# Print table names 
for table in cursor: 
    print(table)

Database is use is: little_lemon

The existing tables in the little_lemon database are:
('Bookings',)
('MenuItems',)
('Menus',)
('Orders',)

#### Exercise

Little Lemon restaurant has created a database and designed tables to keep records of key data. The list of tables that they’ve created are as follows: 

* A table called `Menu` that stores menu data, 
* A table called `MenuItems` that stores data on menu items, 
* A table called `Orders` that stores data on customer orders, 
* A table called `Bookings` that stores data on customer bookings. 

They now need to populate these tables with relevant data. They also need to read the data once the records have been inserted into the database.

#### Task 1:

Insert data in all four tables in the `"little_lemon"` database using Python. Using `"INSERT"` queries to populate the tables with relevant data. 

Use the `"SELECT"` command to check the output and ensure that each `"INSERT"` query has been executed successfully.

In [37]:
# inserting data into Bookings table

insert_query = """INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1,12,'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""
cursor.execute(insert_query)
connection.commit()
print ("Booking table data inserted ", cursor.rowcount , "rows")

Booking table data inserted  6 rows

In [22]:
#viewing the inserted data
checking = """SELECT * FROM Bookings;"""
cursor.execute(checking)
results = cursor.fetchall()
cols = cursor.column_names
print("Bookings table")
print(cols)
for result in results:
    print(result)

Bookings table
('BookingID', 'TableNo', 'GuestFirstName', 'GuestLastName', 'BookingSlot', 'EmployeeID')
(1, 12, 'Anna', 'Iversen', datetime.timedelta(seconds=68400), 1)
(2, 12, 'Joakim', 'Iversen', datetime.timedelta(seconds=68400), 1)
(3, 19, 'Vanessa', 'McCarthy', datetime.timedelta(seconds=54000), 3)
(4, 15, 'Marcos', 'Romero', datetime.timedelta(seconds=63000), 4)
(5, 5, 'Hiroki', 'Yamane', datetime.timedelta(seconds=66600), 2)
(6, 8, 'Diana', 'Pinto', datetime.timedelta(seconds=72000), 5)

In [33]:
#inserting data into Menuitems table
insert_query2 = """
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1,'Olives','Starters',5),
(2,'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10,'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""
cursor.execute(insert_query2)
connection.commit()
print("inserted data into MenuItems table ", cursor.rowcount, " rows")

inserted data into MenuItems table  17  rows

In [34]:
checking_2 = """SELECT * FROM MenuItems"""
cursor.execute(checking_2)
results = cursor.fetchall()
cols = cursor.column_names
print("MenuItems table")
print(cols)
for result in results:
    print(result)

MenuItems table
('ItemID', 'Name', 'Type', 'Price')
(1, 'Olives', 'Starters', 5)
(2, 'Flatbread', 'Starters', 5)
(3, 'Minestrone', 'Starters', 8)
(4, 'Tomato bread', 'Starters', 8)
(5, 'Falafel', 'Starters', 7)
(6, 'Hummus', 'Starters', 5)
(7, 'Greek salad', 'Main Courses', 15)
(8, 'Bean soup', 'Main Courses', 12)
(9, 'Pizza', 'Main Courses', 15)
(10, 'Greek yoghurt', 'Desserts', 7)
(11, 'Ice cream', 'Desserts', 6)
(12, 'Cheesecake', 'Desserts', 4)
(13, 'Athens White wine', 'Drinks', 25)
(14, 'Corfu Red Wine', 'Drinks', 30)
(15, 'Turkish Coffee', 'Drinks', 10)
(16, 'Turkish Coffee', 'Drinks', 10)
(17, 'Kabasa', 'Main Courses', 17)

In [20]:
#inserting Menu table
insert_query3 = """INSERT INTO Menus(MenuID, ItemID, Cuisine)
VALUES (1, 1, 'Greek'), (1, 7, 'Greek'), (1, 10, 'Greek'), (1, 13, 'Greek'), (2, 3, 'Italian'), (2, 9, 'Italian'),
(2, 12, 'Italian'), (2, 15, 'Italian'), (3, 5, 'Turkish'), (3, 17, 'Turkish'), (3, 11, 'Turkish'), (3, 16, 'Turkish');"""
cursor.execute(insert_query3)
connection.commit
print("inserted data into Menu table, ", cursor.rowcount," rows")

inserted data into Menu table,  12  rows

In [30]:
#checking data on Menus table
checking_3 = """SELECT * FROM Menus;"""
cursor.execute(checking_3)
results = cursor.fetchall()
cols = cursor.column_names
print("Menus table")
print(cols)
for result in results:
    print(result)

Menus table
('MenuID', 'ItemID', 'Cuisine')
(1, 1, 'Greek')
(1, 7, 'Greek')
(1, 10, 'Greek')
(1, 13, 'Greek')
(2, 3, 'Italian')
(2, 9, 'Italian')
(2, 12, 'Italian')
(2, 15, 'Italian')
(3, 5, 'Turkish')
(3, 11, 'Turkish')
(3, 16, 'Turkish')
(3, 17, 'Turkish')

In [28]:
#inserting data into Orders table
insert_query4 = """INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""
cursor.execute(insert_query4)
connection.commit()
print("data inserted into Orders table, ",cursor.rowcount," rows")

data inserted into Orders table,  5  rows

In [29]:
#checking data or Orders table
checking_4 = """SELECT * FROM Orders;"""
cursor.execute(checking_4)
results = cursor.fetchall()
cols = cursor.column_names
print("Orders table")
print(cols)
for result in results:
    print(result)

Orders table
('OrderID', 'TableNo', 'MenuID', 'BookingID', 'BillAmount', 'Quantity')
(1, 12, 1, 1, 86, 2)
(2, 19, 2, 2, 37, 1)
(3, 15, 2, 3, 37, 1)
(4, 5, 3, 4, 40, 1)
(5, 8, 1, 5, 43, 1)

#### Task 2:
The restaurant requires the following data for each guest: 
* Guest first and last names  
* The table number assigned to each guest.  
  
Read this data from the “Bookings” table using Python.

In [33]:
# retrieveing data from booking table
retrieve_query = """SELECT GuestFirstName, GuestLastName, TableNo FROM Bookings"""
cursor.execute(retrieve_query)
results = cursor.fetchall()
columns = cursor.column_names
print("""Bookings table:""")
print(columns)
for result in results:
    print(result)

Bookings table:
('GuestFirstName', 'GuestLastName', 'TableNo')
('Anna', 'Iversen', 12)
('Joakim', 'Iversen', 12)
('Vanessa', 'McCarthy', 19)
('Marcos', 'Romero', 15)
('Hiroki', 'Yamane', 5)
('Diana', 'Pinto', 8)

#### Task 3:
Read all the records in the `“Menu”` table and retrieve only the first three from the `“cursor”`.

**Options 1:**

In [43]:
# retrieve the first 3 records from Menus table
select_query = """SELECT * FROM Menus"""
cursor.execute(select_query)
results = cursor.fetchmany(size=3)
columns=cursor.column_names
print("The first 3 rows in Menus table")
print(columns)
for result in results:
    print(result)

The first 3 rows in Menus table
('MenuID', 'ItemID', 'Cuisine')
(1, 1, 'Greek')
(1, 7, 'Greek')
(1, 10, 'Greek')

After grabbing first three records, the cursor will be at the fourth record and we can call `fetchall()` to grab them.

In [46]:
# getting the rest of the rows
results= cursor.fetchall()
for result in results:
    print(result)

(1, 13, 'Greek')
(2, 3, 'Italian')
(2, 9, 'Italian')
(2, 12, 'Italian')
(2, 15, 'Italian')
(3, 5, 'Turkish')
(3, 11, 'Turkish')
(3, 16, 'Turkish')
(3, 17, 'Turkish')

**Options 2:**

This task can also be accomplished by setting `LIMIT 3` in the `SQL` query.

In [47]:
# method two of retrieveing the first three rows
select_query2 = """SELECT * FROM Menus LIMIT 3;"""
cursor.execute(select_query2)
results = cursor.fetchall()   
columns = cursor.column_names
print("""First 3 columns on the "Menu" table""")
print(columns)
for result in results:
    print(result)

First 3 columns on the "Menu" table
('MenuID', 'ItemID', 'Cuisine')
(1, 1, 'Greek')
(1, 7, 'Greek')
(1, 10, 'Greek')

In [48]:
if connection.is_connected():
    cursor.close()
    print("The cursor is closed.")
    connection.close()
    print("MySQL connection is closed.")
else:
    print("Connection is already closed")

The cursor is closed.
MySQL connection is closed.