## Mission 8 Utilizing MySQL functions using python

Establish connection, create a cursor object, then select the database `little_lemon` 

Work with the respective table to accomplish the required tasks.

In [9]:
# Set little_lemon for use 
cursor.execute("use little_lemon")

# Confirming
print("Database in use is", connection.database)

Database in use is little_lemon

## Exercise: 

There are several occasions where Little Lemon needs to perform routine operations, some of them include, total sales, the total number of guests, the number of items in each cuisine, the full name of the guests, and so on. Writing queries again and again for such routine tasks is not trivial. 
Help Little Lemon handle such tasks using MySQL functions in their python-based application.

#### Task 1:

Along with the booking ID, little lemon needs to add the full name of the guests in upper case on their invoices. Help little lemon to extract the data in the required format.

In [11]:
# string function on python
invoice_query = """select BookingID as ID, concat(upper(GuestFirstName)," " ,upper(GuestLastName)) as GuestFullName
from Bookings;"""
cursor.execute(invoice_query)
results = cursor.fetchall()
print("Booking IDs and Guest Names for invoicing")
print(cursor.column_names)
for result in results:
    print(result)

Booking IDs and Guest Names for invoicing
('ID', 'GuestFullName')
(1, 'ANNA IVERSEN')
(2, 'JOAKIM IVERSEN')
(3, 'VANESSA MCCARTHY')
(4, 'MARCOS ROMERO')
(5, 'HIROKI YAMANE')
(6, 'DIANA PINTO')

#### Task 2::

Little lemon needs to know the following statistics at closing: 

* Number of bookings 
* Total sale 
* Average sale 

Target “BookingID” and “BillAmount” columns in the “Orders” table and use MySQL built-in functions to compute the required statistics.

In [14]:
# numeric function on python
todays_stats = """select count(BookingID), SUM(BillAmount),avg(BillAmount) from Orders;"""
cursor.execute(todays_stats)
results= cursor.fetchall()
print ("Today's Stats")
for result in results:
    print("Number of bookings: ", result [0])
    print ("Total sales: ", result[1])
    print ("Average sales: ", result[2])

Today's Stats
Number of bookings:  5
Total sales:  243
Average sales:  48.6000

#### Task 3:

Little lemon needs to know the number of bookings for each table. Please help them to print the table number and the number of bookings for each table.  

Target `TableNo` column in the booking table, count the number of bookings for each table, and group the data.

In [15]:
# number of bookings per table
n_bookings = """select TableNo as "Table Number", count(BookingID) as "Number of Bookings" from Bookings 
group by TableNo;"""
cursor.execute(n_bookings)
results= cursor.fetchall()
print("Number of bookings per Table")
print(cursor.column_names)
for result in results:
    print (result)

Number of bookings per Table
('Table Number', 'Number of Bookings')
(12, 2)
(19, 1)
(15, 1)
(5, 1)
(8, 1)

#### Task 4:

Little lemon wants to create three arrival slots for the guests based on the booking hour: 

* Late afternoon: for hours 15 and 16  
* Evening: for hours 17 and 18 
* Night: for hours 19 and 20 

Display the booking ID, guest name, and arrival slot on the kitchen screen so that the staff can plan accordingly.  
Use the MySQL `CASE` function and create `Arrival_slot` for each guest.

In [32]:
# working with datetime function 
create_bookings = """SELECT BookingID, CONCAT(GuestFirstName,' ',GuestLastName) AS Guest_Name,
CASE
WHEN HOUR(BookingSlot) IN (15,16) THEN "Late afternoon" 
WHEN HOUR(BookingSlot) IN (17,18) THEN "Evening" 
WHEN HOUR(BookingSlot) IN (19,20) THEN "Night"
ELSE "Time not available" 
END AS Arrival_slot
FROM Bookings;"""
cursor. execute(create_bookings)
results = cursor.fetchall()
print(cursor.column_names)
for result in results:
    print(result)

('BookingID', 'Guest_Name', 'Arrival_slot')
(1, 'Anna Iversen', 'Night')
(2, 'Joakim Iversen', 'Night')
(3, 'Vanessa McCarthy', 'Late afternoon')
(4, 'Marcos Romero', 'Evening')
(5, 'Hiroki Yamane', 'Evening')
(6, 'Diana Pinto', 'Night')

In [33]:
if connection.is_connected():
    cursor.close()
    print("The cursor is closed.")
    connection.close()
    print("MySQL connection is closed.")
else:
    print("Connection is already closed")

The cursor is closed.
MySQL connection is closed.